@model  CadastroTempus.Models.dadosCliente

@{
    ViewBag.Title = "Filtro";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Cadastrar novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Renda)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>

            @if (item.Renda <= 980)
            {
                <td class="classea">
                    @Html.DisplayFor(modelItem => item.Renda)
                </td>
            }
            @if (item.Renda > 980 && item.Renda <= 2500)
            {
                <td class="classeb">
                    @Html.DisplayFor(modelItem => item.Renda)
                </td>
            }
            @if (item.Renda > 2500)
            {
                <td class="classec">
                    @Html.DisplayFor(modelItem => item.Renda)
                </td>
            }


            <td>
                @Html.ActionLink("Editar dados", "Edit", new { id = item.TxtCpf }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.TxtCpf }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.TxtCpf })
            </td>
        </tr>
    }

</table>
@using (Html.BeginForm())
{
    @Html.TextBox("Pesquisar Cliente")
    @Html.ActionLink("Pesquisar", "Filtro", "DadosClientesController")
}


<style>


    .classea {
        background-color: red;
    }

    .classeb {
        background-color: gold;
    }

    .classec {
        background-color: green;
    }

    .card {
        display: block;
        min-height: 90px;
        width: 100%;
        border-radius: 2px;
        margin-bottom: 15px;
    }
</style>
